@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  background-image: url("./assets/images/grid-bg.svg");
  background-color: rgb(31, 31, 31);
}
