@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: none;
}
.main {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  background-image: url("./assets/images/grid-bg.svg");
  background-color: rgb(31, 31, 31);
}

.cursor {
  background-image: url("./assets/images/steering-wheel.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  width: 4rem;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-16%, -26%);
  pointer-events: none;
}
